{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"linux", compile,
        "cmake -S . -B . "
        "-DERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "-DERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
    },
    {"darwin", compile,
        "cmake -S . -B . "
        "-DERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "-DERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
    },
    {"windows", compile,
        "cmake -S . -B . "
        "-DERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "-DERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
    }
]}.

{post_hooks, [
    {"linux", compile,
        "cmake --build . "
    },
    {"darwin", compile,
        "cmake --build . "
    },
    {"windows", compile,
        "cmake --build . "
    },
    {"linux", clean,
        "rm -rf CMakeCache.txt CMakeFiles cmake_install.cmake Makefile priv"
    },
    {"darwin", clean,
        "rm -rf CMakeCache.txt CMakeFiles cmake_install.cmake Makefile priv"
    },
    {"windows", clean,
        "rm -rf CMakeCache.txt CMakeFiles cmake_install.cmake Makefile priv"
    }
]}.
