{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"linux", compile,
        "cmake -S . -B _build_cmake "
        "-DERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "-DERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
    },
    {"darwin", compile,
        "cmake -S . -B _build_cmake "
        "-DERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "-DERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
    },
    {"windows", compile,
        "cmake -G Ninja -S . -B _build_cmake "
        "-DERLANG_ERTS_DIR=$ERLANG_ROOT_DIR/erts-$ERLANG_ERTS_VER "
        "-DERL_INTERFACE_DIR=$ERLANG_LIB_DIR_erl_interface "
    }
]}.

{post_hooks, [
    {"linux", compile,
        "cmake --build _build_cmake "
    },
    {"darwin", compile,
        "cmake --build _build_cmake "
    },
    {"windows", compile,
        "cmake --build _build_cmake "
    },
    {"linux", clean,
        "rm -rf _build_cmake priv"
    },
    {"darwin", clean,
        "rm -rf _build_cmake priv"
    },
    {"windows", clean,
        "if exist _build_cmake rmdir /S /Q _build_cmake & if exist priv rmdir /S /Q priv"
    }
]}.
